@import 'nib'
@import './variables'
@import './mixins'
@import './utilities'
@import './startbar'
@import './minesweeper'

html, body
  height: 100%
  background-color: #008080
  shittyfont()
  overflow: hidden

.win98
  @require './window'
  @require './menu'
  @require './buttons'
  @require './forms'

@media (max-width: 768px)
  #terminal-window
    height: 100%
    width: 100%
    cursor: text
    overflow: hidden
  .page-wrap
    display: none
  .start-menu
    display: none
